# Spark com suporte a SQL e S3
pyspark[sql,cloud]==3.5.6

# Pacotes para manipulação de dados
pandas==2.3.1
requests==2.32.5
beautifulsoup4==4.13.3

# Airflow e providers
apache-airflow-providers-amazon
apache-airflow-providers-snowflake
